<!-- <a href="/"><img class="logo_link" id="footer_logo" src="/images/logo_black.png" alt="logo"></a> -->
<a href="/"><img class="logo_link" id="header_logo" src="/images/logo_trans.png" alt="logo"></a>
<p class="footer-copy">&copy; Tim Lee</p>
<!-- <a href="https://tl-wdd330-final.netlify.app/" target="_blank">Production</a> -->
<a href="https://github.com/Lee17026atBYUI/wdd330_final" target="_blank"><img class="github_link" src="/images/github_white.png" alt="github logo"></a>
<!-- <a href="https://github.com/Lee17026atBYUI/wdd330_final" target="_blank"><img class="github_link" src="/images/github_trans.png" alt="github logo"></a> -->